<%- include("layout", {
    body: `
    <div class='center-card'>
        <h1>Create Account</h1>
        <p>Create your account to start managing tasks.</p>

        <% if (error) { %>
            <p style="color:red;"><%= error %></p>
        <% } %>

        <form action="/register" method="POST" class="form-card-login">
            <input type="text" name="name" placeholder="Full Name" required />

            <input type="email" name="email" placeholder="Email" required />

            <input type="password" name="password" placeholder="Password" required />

            <button class="btn btn-purple" style="width:100%;">Register</button>
        </form>

        <p style="margin-top:15px;">
            Already have an account?
            <a href="/login" style="color:#6d28d9;">Login</a>
        </p>
    </div>
    `
}) %>
